fastapi
uvicorn
python-multipart
python-dotenv
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.1.6
langchain-google-genai==1.0.3
langchain-text-splitters==0.0.2
faiss-cpu
numpy==1.26.4
pypdf
